<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap" rel="stylesheet">

</head>
<body>
    <!--шапка-->
    <div>
        <div id="header">
            <img src="~/images/mainlogo.png" alt="" class="logo">
            <ul id="nav">
                <li class="menu1"><a asp-page="./Index">Home</a></li>
                <li class="menu2"><a asp-page="./AboutUS">AboutUS</a></li>
                <li class="menu3"><a asp-page="./Login">@{
                    if (ViewData["User"] == null)
                    {
                        ViewData["LoginHeader"] = "Login";
                        
                    }
                    else
                    {
                        ViewData["User"] = @Model.Login;
                        
                    }
                }@ViewData["LoginHeader"] @ViewData["User"]</a></li>

            </ul>
        </div>
    </div>
    <div>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <!--подвал-->
        <div>
            <div id="footer">
                <p>Made by Temeralin Temirlan. Designed by cssauthor.com</p>
            </div>
        </div>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

        @RenderSection("Scripts", required: false)
</body>
</html>
